.hide {
	display: none;
	width:0px;
}

.table input[type=checkbox], .input-rmv{
	margin: 8px;
}

.ghost{
	width: 0px;
	height: 0px;
}

.txtarea-sm{
	max-width: 170px;
	margin: 2px;
}

#activities div{
	padding-left: 1px;
	padding-right: 1px;
}

.input-sesa{
	width: 115px; 
}

.input-employee{
	width: 160px;
}

.input-reason, .input-manual input{
	width: 75px;
}

.input-activity{
	width: 140px; 
}

.input-regular-hours, .input-overtime{
	width: 80px;
}

.input-ot-time>.input-group{
	width: 105px; 
}

#presence>div{
	display: inline-block; 
}

.input-zone{
	width: 120px;
	margin-left: 15px;
}

#entries td{
	padding: 1px;
}

.expand-cell{
	min-width:400px;
}

.header-overtime{
	width:150px;
}

.th-employee{
	min-width:315px;
}

.th-activity{
	min-width:600px; 
}

.th-options{
	min-width: 230px;
}

.panel-import{
	border-color: #FAC51C;
}

.panel-import>.panel-heading{
  color: #fff;
  background-color: #FAC51C;
  border-color: #FAC51C;
}

.panel-input{
	border-color: #1ABC9C;
}

.panel-input>.panel-heading{
  color: #fff;
  background-color: #1ABC9C;
  border-color: #1ABC9C;
}

.panel-hour{
	border-color: #EB7260;
}

.panel-hour>.panel-heading{
  color: #fff;
  background-color: #EB7260;
  border-color: #EB7260;
}

#input-shift{
	max-width: 14%;
}
