.hide {
	display: none;
	width:0px;
}

.table input[type=checkbox], .input-rmv{
	margin: 8px;
}

.ghost{
	width: 0px;
	height: 0px;
}

.float-left{
	float: left;
}
.txtarea-sm{
	max-width: 170px;
	margin: 2px;
}

#activities div{
	padding-left: 1px;
	padding-right: 1px;
}

.input-sesa{
	width: 115px; 
}

.input-employee{
	width: 160px;
}

.input-reason{
	width: 75px;
}

.input-activity{
	width: 140px; 
}

.input-regular-hours{
	width: 60px;
}

.input-overtime{
	width: 100px; 
}

.input-zone{
	width: 110px;
}

#entries td{
	padding: 1px;
}

.expand-cell{
	width:400px;
}