body {
  margin-top: 50px;
}

body, html {
	height: 100%;
 	position: relative;
}
.footer {
  position: absolute;
  bottom: 60px;
  width: 100%;
}

/*#content{
  margin-left: 250px;
}

/*********INPUT TABLE*************/

#entries td{
	padding: 1px;
}

nav{
    box-shadow: 5px 0px 5px #777;
}

/*************MENU****************/

#menu {
	height: 100%;
	max-width: 250px;
	padding: 8px;
	background-color: #333;
	color:#ddd;
	position: fixed;
  box-shadow: 0px 5px 10px #888;
}

nav img{
  margin-top: -9px;
  height: 200%;
}