.hide {
	display: none;
	width:0px;
}

.table input[type=checkbox], .input-rmv{
	margin: 8px;
}

.ghost{
	width: 0px;
	height: 0px;
}

.txtarea-sm{
	max-width: 170px;
	margin: 2px;
}

#activities div{
	padding-left: 1px;
	padding-right: 1px;
}

.input-sesa{
	width: 115px !important; 
}

.input-employee{
	width: 160px !important;
}

.input-reason, .input-manual input{
	width: 75px !important;
}

.input-activity{
	width: 140px !important; 
}

.input-regular-hours, .input-overtime{
	width: 70px !important;
}

.input-ot-time>.input-group{
	width: 105px !important; 
}

#presence>div{
	display: inline-block; 
}

.input-zone{
	width: 120px;
	margin-left: 15px;
}

#entries td{
	padding: 1px;
}

.expand-cell{
	min-width:400px;
}

.header-overtime{
	width:150px;
}

.th-employee{
	min-width:315px;
}

.th-activity{
	min-width:500px; 
}

.th-options{
	min-width: 230px;
}

.panel-import{
	border-color: #FAC51C;
}

.panel-import>.panel-heading{
  color: #fff;
  background-color: #FAC51C;
  border-color: #FAC51C;
}

.panel-input{
	border-color: #1ABC9C;
}

.panel-input>.panel-heading{
  color: #fff;
  background-color: #1ABC9C;
  border-color: #1ABC9C;
}

.panel-hour{
	border-color: #EB7260;
}

.panel-hour>.panel-heading{
  color: #fff;
  background-color: #EB7260;
  border-color: #EB7260;
}

#input-shift{
	max-width: 14%;
}

#input-date input{
	max-width: 86%;
}

.modal-input-lg{
	width: 1010px;
}


/*super bouton halfday*/
#presence-container {
  width: 15px;
  height: 15px;
  position: relative;
  margin: 8px;
  border-radius: 50%;
  background-color:#eee;
  box-shadow: -1px 1px 4px 1px #aaa inset;
  cursor: pointer;
  overflow: hidden;
  border:1px solid #ccc;
}
.presence-gauge {
  width: 15px;
  height: 15px;
  position: absolute;
  top:0px;
  left:0px;
  overflow: hidden;
  background: #555;
}

#presence-container[disabled],  {
    pointer-events: none;
}

#details-tabs{
	padding-bottom: 0px;
}