{% extends "::layout.html.twig" %}

{% block title %}
  Annonces - {{ parent() }}
{% endblock %}

{% block menu %}
  <div class="panel-heading">
    <h4>Dernières annonces</h4>
  </div>
  <div class="panel-body">
      {{ render(controller("SEZestBundle:Advert:menu")) }}
  </div>
{% endblock %}

{% block body %}

  {# On définit un sous-titre commun à toutes les pages du bundle, par exemple #}
  <h1>Annonces</h1>

  <p> <a href="{{ path('se_zest_add') }}" class="btn btn-primary"><i class="glyphicon glyphicon-plus"></i> Ajouter une annonce</a><p>

  <hr>

  {# On définit un nouveau bloc, que les vues du bundle pourront remplir #}
  {% block sezest_body %}
  {% endblock %}

{% endblock %}