<nav class="gn-menu-wrapper">
    <div class="gn-scroller">
		<ul class="gn-menu">
			<li class="gn-search-item">
			 	<input placeholder="Search" type="search" class="gn-search">
			  	<a class="gn-icon glyphicon glyphicon-search"><span>Search</span></a>
			</li>
			<li>
				<span class="indicator sap"></span>
				<a class="gn-icon glyphicon glyphicon-refresh">Process new data</a>
			</li>
			<li>
				<span class="indicator weight"></span>
				<a class="gn-icon glyphicon glyphicon-file">SPS</a>
			</li>
			<li>
				<span class="indicator dashboard"></span>
				<a class="gn-icon glyphicon glyphicon-flag">Zoning</a>
			</li>
			<li>
				<span class="indicator employee"></span>
				<a class="gn-icon glyphicon glyphicon-user">HR</a>
			</li>
			<li>
				<span class="indicator activity"></span><a class="gn-icon glyphicon glyphicon-usd"></i>Finances</a>
			</li>
		</ul>
	</div><!-- /gn-scroller -->
</nav>