<ul class="gn-menu">
	<li class="gn-search-item">
	 	<input placeholder="Search" type="search" class="gn-search">
	  	<a class="gn-icon glyphicon glyphicon-search"><span>Search</span></a>
	</li>
	<li><a class="gn-icon glyphicon glyphicon-refresh">Process new data</a></li>
	<li><a class="gn-icon glyphicon glyphicon-file">SPS</a></li>
	<li><a class="gn-icon glyphicon glyphicon-flag">Zoning</a></li>
	<li><a class="gn-icon glyphicon glyphicon-user">HR</a></li>
	<li><a class="gn-icon glyphicon glyphicon-usd"></i>Finances</a></li>
</ul>