{% extends "::layout.html.twig" %}

{% block title %}
  Input - {{ parent() }}
{% endblock %}

{% block menu %}
  <h4>Input Config Panel</h4>
{% endblock %}

{% block body %}

  {# On définit un sous-titre commun à toutes les pages du bundle, par exemple #}
  <h1>Input</h1>

  <hr>

  {# On définit un nouveau bloc, que les vues du bundle pourront remplir #}
  {% block seinput_body %}
  {% endblock %}

{% endblock %}