{% extends "::layout.html.twig" %}

{% block title %}
  Input - {{ parent() }}
{% endblock %}

{% block menu %}
  {{ render(controller("SEInputBundle:Entry:menu")) }}
{% endblock %}

{% block logo %}
  <li class="logo-zest"><img alt="Zest" src="{{ asset('bundles/sereport/images/zest.png') }}"></li>
{% endblock %}

{% block body %}

  <div class="header-block">
	{% block seinput_header %}
    {% endblock %}
  </div>

  {% block seinput_body %}
  {% endblock %}

{% endblock %}

{% block javascripts %}
  	{{ parent() }}
	<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/s/bs/jszip-2.5.0,pdfmake-0.1.18,dt-1.10.10,b-1.1.0,b-html5-1.1.0,b-print-1.1.0/datatables.min.js"></script>
  	<script src="http://code.highcharts.com/highcharts.js"></script>
{% endblock %}