body {
  margin-top: 60px;
  margin-left: 60px;
}

body, html {
	height: 100%;
 	position: relative;
}

.logo-zest{
  float:right!important;
  margin-right: 5px;
}

.panel-body{
  padding: 0px;
}

.header-block{
  margin: 0px auto 15px;
}

.line{
  height: 5px;
  background-color: #1ABC9C;
  margin-left: -15px;
  margin-right: -15px;
}

header.h-input .line{background-color: #1ABC9C;}
header.h-review .line{background-color: #EB7260;}
header.h-sap .line{background-color: #77C5F7;}
header.h-activity .line{background-color: #9365B8;}
header.h-employee .line{background-color: #A38F84;}
header.h-weight .line{background-color: #FAC51C;}

header{
  height: 75px;
  background-color: rgba(26, 188, 156, 0.1);
  padding-left: 15px;
  padding-right: 15px;
  margin-left: -15px;
  margin-right: -15px;
  box-shadow: 0px 0px 10px #888;
}

header i{font-size: 0.8em;}

header.h-input{background-color: rgba(26, 188, 156, 0.1);}
header.h-review{background-color: rgba(235, 114, 96, 0.1);}
header.h-sap{background-color: rgba(119, 197, 247, 0.1);}
header.h-activity{background-color: rgba(147, 101, 184, 0.1);}
header.h-employee{background-color: rgba(163, 143, 132, 0.1);}
header.h-weight{background-color: rgba(250, 197, 28, 0.1);}


.lock-zest{
  color:#EB7260;
  padding: 10px;
  margin-right: 5px;
  border-radius: 50%;
  transition: background-color 0.4s;
}

.lock-zest:hover{
  background-color: #009530;
  transition: background-color 0.4s;
}

#filters {
  font-size:1.2em;
  background-color: #eee;
  padding: 10px;
  box-shadow: 0px 2px 8px #888;
  height: 44px;
}

.filters-row{height:44px;}

.date-filter{
  margin-right: 8px;
  margin-top: -4px;
}

.fix-filter{
    position: fixed;
    width: 100%;
    top: 60px;
    z-index: 90;
}

.free-me{
  margin-right: 8px;
}

.divider{
  border-right: 1px solid #ddd;
}

.spinner {
  margin: 50% auto;
  width: 60px;
  height: 60px;
  position: relative;
  text-align: center;
  
  -webkit-animation: sk-rotate 2.0s infinite linear;
  animation: sk-rotate 2.0s infinite linear;
}

.dot1, .dot2 {
  width: 60%;
  height: 60%;
  display: inline-block;
  position: absolute;
  top: 0;
  background-color: #fff;
  border-radius: 100%;
  
  -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
  animation: sk-bounce 2.0s infinite ease-in-out;
}

.dot2 {
  background-color: #3dcd58;
  top: auto;
  bottom: 0;
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

@-webkit-keyframes sk-rotate { 100% { -webkit-transform: rotate(360deg) }}
@keyframes sk-rotate { 100% { transform: rotate(360deg); -webkit-transform: rotate(360deg) }}

@-webkit-keyframes sk-bounce {
  0%, 100% { -webkit-transform: scale(0.0) }
  50% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bounce {
  0%, 100% { 
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 50% { 
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}