body { 
  background: url(../../bundles/seinput/images/back.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  overflow: hidden;
}

.welcome{
  width: 500px;
  height: 300px;
  padding: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -282px 0 0 -250px;
  background-color: rgba(245, 245, 245, 0.5);
  text-align: center;
}

.welcome img{
  width: 40%;
}

.credit{
	text-align: right;
	font-size: 0.8em; 
	position: absolute;
  	bottom: 10px;
  	right: 20px;
}

#content, #content>div{
	position: relative;
	width: 100%;
	height: 100%;
}