<i class='glyphicon glyphicon-edit' data-toggle='tooltip' title='Create this missing input'></i>
<a id='ignore' href=# data-id="{{input.id}}">
	<i class='glyphicon glyphicon-check text-success' data-toggle='tooltip' title='Ignore this input'></i>
</a>