{% extends "SEInputBundle::layout.html.twig" %}

{% block title %}Home - {{ parent() }}{% endblock %}

{% block seinput_body %}
  <h2>Manhours Input Form</h2>

  {% block seinput_form %}
  {% endblock %}
 
  <p>
    <a href=# class="btn btn-default">
      <i class="glyphicon glyphicon-repeat"></i>
      Clean the form
    </a>

{% endblock %}