{% extends "SEInputBundle::layout.html.twig" %}

{% block stylesheets %}
  {{ parent() }}
  {% stylesheets 'bundles/seinput/css/*' %}
    <link rel="stylesheet" type="text/css" charset="UTF-8" media="all" href="{{ asset_url }}"/>
  {% endstylesheets %}
{% endblock %}

{% block title %}{{ parent() }}{% endblock %}

{% block seinput_body %}
  <h2>Manhours Input Form</h2>

  {% block seinput_form %}
  {% endblock %}

{% endblock %}