{% extends "SEInputBundle::layout.html.twig" %}

{% block stylesheets %}
  {{ parent() }}
  {% stylesheets 'bundles/seinput/css/input/*' %}
    <link rel="stylesheet" type="text/css" charset="UTF-8" media="all" href="{{ asset_url }}"/>
  {% endstylesheets %}
{% endblock %}

{% block title %}{{ parent() }}{% endblock %}

{% block seinput_body %}

  <header class="h-input">
  	<div class="line"></div>
  	<h2><i class="glyphicon glyphicon-pencil"> </i> Manhours Input</h2>
  </header>

  {% block seinput_form %}
  {% endblock %}

{% endblock %}