{% extends "SEInputBundle::layout.html.twig" %}

{% block title %}{{ parent() }}{% endblock %}

{% block seinput_body %}
  <h2>Manhours Input Form</h2>

  {% block seinput_form %}
  {% endblock %}

{% endblock %}