<ul class="gn-menu">
	<li class="gn-search-item">
	 	<input placeholder="Search" type="search" class="gn-search">
	  	<a class="gn-icon glyphicon glyphicon-search"><span>Search</span></a>
	</li>
	<li><a href="{{ path('se_input_home') }}" class="gn-icon glyphicon glyphicon-pencil">Manhours</a></li>
	<li><a href="{{ path('se_input_set_import') }}" class="gn-icon glyphicon glyphicon-cloud">SAP</a></li>
	<li><a class="gn-icon glyphicon glyphicon-scale">Weight control</a></li>
	<li><a class="gn-icon glyphicon glyphicon-fire">Review input issues</a></li>
	<li><a href="{{ path('se_input_employees') }}" class="gn-icon glyphicon glyphicon-user">Employees</a></li>
	<li><a href="{{ path('se_input_activities') }}"class="gn-icon glyphicon glyphicon-briefcase">Activities</a></li>
</ul>