{% extends "SEInputBundle::layout.html.twig" %}

{% block title %}
  Activities - {{ parent() }}
{% endblock %}

{% block seinput_body %}
	<h2>Activities</h2>
	<p>
	    <a href="{{ path('se_input_activities_add') }}"  class="btn btn-success">
	      <i class="glyphicon glyphicon-plus"></i>
	      Add a new Activity
	    </a>
	</p>

	<p> Here will be the Activities List -> table with criteria + edit in line </p>
{% endblock %}