{% extends "SEInputBundle::layout.html.twig" %}

{% block title %}
  New Activity - {{ parent() }}
{% endblock %}

{% block seinput_body %}

  <header class="h-activity">
  	<div class="line"></div>
  	<h2><i class="glyphicon glyphicon-plus"> </i> New Activity</h2>
  </header>

	{{ include("SEInputBundle:Settings:activity_form.html.twig") }}

	<p>
    <a href="{{ path('se_input_activities') }}" class="btn btn-default">
      <i class="glyphicon glyphicon-chevron-left"></i>
      Return
    </a>
  </p>
{% endblock %}