{% extends "SEInputBundle::layout.html.twig" %}

{% block title %}
  New Employee - {{ parent() }}
{% endblock %}

{% block seinput_body %}
	<h2>New Employee</h2>
 {{ include("SEInputBundle:Settings:employee_form.html.twig") }}

	<p>
    <a href="{{ path('se_input_employees') }}" class="btn btn-default">
      <i class="glyphicon glyphicon-chevron-left"></i>
      Return
    </a>
  </p>
{% endblock %}