{% extends "SEInputBundle::layout.html.twig" %}

{% block title %}
  New Employee - {{ parent() }}
{% endblock %}

{% block seinput_body %}
  <header class="h-employee">
  	<div class="line"></div>
  	<h2><i class="glyphicon glyphicon-plus"> </i> New Employee</h2>
  </header>

  {{ include("SEInputBundle:Settings:employee_form.html.twig") }}

	<p>
    <a href="{{ path('se_input_employees') }}" class="btn btn-default">
      <i class="glyphicon glyphicon-chevron-left"></i>
      Return
    </a>
  </p>
{% endblock %}