{% extends "SEZestBundle::layout.html.twig" %}

{% block title %}
  Ajouter une annonce - {{ parent() }}
{% endblock %}

{% block sezest_body %}

  <h2>Ajouter une annonce</h2>

  {{ include("SEZestBundle:Advert:form.html.twig") }}

  <p>
    bla bla bla ajout
  </p>


{% endblock %}