<!DOCTYPE html>
<html>
    <head>
        <title>Bienvenue dans ta chatte!</title>
    </head>
    <body>
        <h1>Le plastique c'est fantastique !</h1>
    
        <p>
            La {{ nom }} est un ensemble de textes considérés comme sacrés par le judaïsme et le christianisme. Les différents groupes religieux peuvent inclure différents livres dans leurs canons, dans un ordre différent.
        </p>
    </body>
</html>