<nav class="gn-menu-wrapper">
    <div class="gn-scroller">
		<ul class="gn-menu">
			<li>
				<span class="indicator dashboard"></span>
				<a href="{{ path('se_admin_index') }}" class="gn-icon glyphicon glyphicon-home">Admin Dashboard</a>
			</li>
			<li>
				<span class="indicator sap"></span>
				<a href="{{ path('se_input_set_import') }}" class="gn-icon glyphicon glyphicon-cloud">SAP imports</a>
			</li>
			<li>
				<span class="indicator weight"></span>
				<a href="{{ path('se_admin_editor') }}" class="gn-icon glyphicon glyphicon-edit"></i>Editor</a>
			</li>
		</ul>
	</div><!-- /gn-scroller -->
</nav>