.holiday{background-color: #EB6B56;}
.weekend{background-color: #F7DA64;}
#attendance td{min-width: 70px;}
#attendance_wrapper{font-size: small;}
#summary-panel{margin-bottom: 15px;}
.green{background-color: rgba(97, 189, 109, 0.6);}
.yellow{background-color: rgba(250, 197, 28, 0.9);}
.orange{background-color: #F37934;}
.blue{background-color: rgba(51, 122, 183, 0.3);}
.grey{background: repeating-linear-gradient( -45deg, rgba(204, 204, 204, 0.5), rgba(204, 204, 204, 0.5) 0px, rgba(153, 153, 153, 0.5) 5px, rgba(153, 153, 153, 0.5) 5px );}